<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254028579435-ink3of9mhh3d3coutasv1a9o1qjr6te6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254028579435-ink3of9mhh3d3coutasv1a9o1qjr6te6</string>
	<key>API_KEY</key>
	<string>AIzaSyB-bBm5FfmcxK0hA32AvOdflYrzokh-G_k</string>
	<key>GCM_SENDER_ID</key>
	<string>254028579435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.vladbordiug.com.PickUpSoccer</string>
	<key>PROJECT_ID</key>
	<string>pickupsoccer-339e6</string>
	<key>STORAGE_BUCKET</key>
	<string>pickupsoccer-339e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254028579435:ios:445682a4ec382f2fd0e72e</string>
</dict>
</plist>